<div class="section bg-white">
  <div class="container">
    <h1 class="text-center">Boas vindas à Trybe!</h1>
    <p class="text-center mt-5">Esta é a plataforma do curso, na qual você terá acesso ao detalhamento do programa, passo a
      passo.</p>
    <p class="text-center mt-5">Entre e fique à vontade! 😁</p>
  </div>
</div>

<div id="initial-setup" class="section bg-primary text-center">
  <div class="container">
    <h2>Setup Inicial</h2>
    <p>
      Antes de começar o curso, vamos garantir que você tenha todas as ferramentas necessárias para enfrentar o que vem
      pela frente.</p>
    <p>
      Acesse o link a seguir para fazer um setup inicial.<a class="shadow btn-white btn btn-block mt-5" href="fundamentals/setup">Vamos lá! 🚀</a>
    </p>
  </div>
</div>

<div id="content-cards" class="main-content">
  <div class="container">
    <h2 class="text-center mb-5">Conteúdos do Curso</h2>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fundamentos do Desenvolvimento Web</h5>
            <p class="card-text">
              O objetivo deste primeiro módulo é construir os fundamentos necessários para o início no mundo
              Desenvolvimento Web.
            </p>
            <a href="/fundamentals" class="btn btn-primary mt-4">Acessar</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Desenvolvimento Front-end</h5>
            <p class="card-text">
              Aqui você vai aprender as técnicas e ferramentas mais atuais para desenvolver um código de front-end que
              seja rápido, bonito e testável.
            </p>
            <a href="/front-end" class="btn btn-primary mt-4">Acessar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Desenvolvimento Back-end</h5>
            <p class="card-text">
              Neste módulo, você vai aprender como desenvolver um código de back-end robusto, limpo, escalável e seguro, dominando o uso de bancos de
              dados, a construção de APIs com testes automatizados.
            </p>
            <a href="/back-end" class="btn btn-primary mt-4">Acessar</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Ciência da Computação</h5>
            <p class="card-text">
              Aqui, você aprenderá os principais conceitos da Ciência da Computação que são aplicados no dia a dia do
              desenvolvomento de software e como transformar a teoria em prática, analisando algoritmos e escolhendo as
              melhores estruturas de dados para resolver os problemas!
            </p>
            <a href="/computer-science" class="btn btn-primary mt-4">Acessar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Soft Skills</h5>
            <p class="card-text">
              Para que você consiga as melhores oportunidades, você deve também desenvolver habilidades de comunicação,
              postura, convivência social, etc. Vamos te guiar nas melhores práticas e assim você vai se dar muito
              melhor na vida real!
            </p>
            <a href="/soft-skills" class="btn btn-primary mt-4">Acessar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Carreira</h5>
            <p class="card-text">
              Pensando nos principais desafios para entrada no Mercado de Trabalho elaboramos, em parceria com grandes referências de Recrutamento e Seleção, o Programa de Carreiras Trybe. Conheça cada um dos conteúdos e atividades oferecidos para ajudar você a conquistar sua vaga!
            </p>
            <a href="/career" class="btn btn-primary mt-4">Acessar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Software Engineering - The Real Life</h5>
            <p class="card-text">
              Você vai aprender as melhores práticas aplicadas ao desenvolvimento web quando se trata de resolver
              problemas reais, usando testes, refatoração, código limpo e muito trabalho em equipe!
            </p>
            <a href="/real-life-engineer" class="btn btn-primary mt-4">Acessar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Agile</h5>
            <p class="card-text">
              Aqui você vai conhecer as principais metodologias ágeis usadas no desenvolvimento web e como aplicá-las
              no seu dia a dia de forma a tornar seu trabalho eficiente e valorizado!
            </p>
            <a href="/agile" class="btn btn-primary mt-4">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
